.profile-container {
    padding: 10px 120px;

    .profile-header {
        h1 {
            color    : #000;
            font-size: 20px;
        }
    }

    .profile-content {
        height        : 500px;
        display       : flex;
        flex-direction: column;
        border        : 1px solid #ccc;
        width         : 700px;
        margin        : 0 auto;
        padding       : 20px;
        border-radius : 10px;


        .profile-input-form {
            display    : flex;
            align-items: center;
            gap        : 10px;
            padding    : 10px 10px;

            .profile-label {
                width    : 50px;
                font-size: 16px;
                padding  : 0px 20px 0 0;
                color    : #000;
            }


            .upload-profile {
                .ant-upload-list.ant-upload-list-text {
                    width: 400px !important;
                }
            }
        }

        .btn-subit-profile {
            padding: 20px 0;
        }
    }
}