.input-style {
    border-top  : none;
    border-right: none;
    border-left : none;
    outline     : none;

    &:focus {

        background-color: rgb(232, 240, 254);
    }
}

.profile-input {

    width: 400px;
}