.order-page-container {
    width           : 100%;
    background-color: #f5f5fa;
    height          : 100vh;

    h4 {
        margin     : 0;
        font-weight: bold;
        padding    : 10px 0;
    }

    .list-my-order {
        display       : flex;
        flex-direction: column;
        gap           : 20px;
        padding-top   : 20px;

        .item-my-order {
            display       : flex;
            align-items   : center;
            padding       : 9px 16px;
            background    : #fff;
            margin-top    : 12px;
            flex-direction: column;
            width         : 950px;
            margin        : 0 auto;
            background    : #fff;
            border-radius : 6px;
            box-shadow    : 0 12px 12px #ccc;

            .status {
                display       : flex;
                align-items   : flex-start;
                width         : 100%;
                margin-bottom : 10px;
                padding-bottom: 10px;
                border-bottom : 1px solid rgb(235, 235, 240);
                flex-direction: column;
            }

            .header-item {
                display    : flex;
                align-items: flex-start;
                height     : 90px;
                width      : 100%;
            }

            .footer-item {
                display       : flex;
                flex-direction: column;
                gap           : 10px;
                border-top    : 1px solid rgb(235, 235, 240);
                width         : 100%;
                align-items   : flex-end;
                padding-top   : 10px;
            }
        }
    }

}